language: python

python:
  - "2.7"

install:
   - pip install fabric==1.14

script:

   - if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" = false ]; then
       fab -p $SSH_PASSWORD update;
     fi
